version: '3.8'

services:
  backend:
    build: .
    container_name: urlshort-backend
    ports:
      - "8081:8080"
    environment:
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
      - APP_BASE_URL=https://d69aee9a31d1ba.lhr.life
    depends_on:
      - redis
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: urlshort-redis
    ports:
      - "6380:6379" 
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped

volumes:
  redis_data:
